<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Una aplicación SSR (Server Side Rendering) de Pokémon permite renderizar en el servidor la información de los distintos personajes
    y mostrarlos de forma rápida y optimizada al usuario. Gracias a esta arquitectura, los datos de los Pokémon —como nombre, tipo, estadísticas
    y habilidades— se generan en HTML desde el servidor antes de llegar al navegador, lo que mejora el SEO y la velocidad de carga inicial.
    Además, se puede integrar con una API pública para obtener información actualizada y añadir funciones interactivas como buscadores, filtros
    o colecciones personalizadas, logrando así una experiencia fluida y atractiva tanto para fanáticos como para desarrolladores interesados
    en la saga.
  </p>
</section>
