<h1 class="text-3xl">Precios de la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    La aplicación SSR de Pokémon puede ofrecer un modelo de precios flexible según el tipo de usuario. Una versión gratuita incluiría funcionalidades
    básicas, como consultar la pokédex y ver detalles de cada criatura. Para los usuarios que busquen más ventajas,
    se podrían habilitar planes de suscripción mensual o anual con beneficios adicionales: acceso sin publicidad,
    herramientas de filtrado avanzadas, sincronización de equipos personalizados, y actualizaciones exclusivas con eventos o
    contenido temático. De esta forma, se garantiza un acceso accesible para todos, al tiempo que se generan ingresos sostenibles
    mediante planes premium.
  </p>
</section>
