<h1 class="text-3xl">Contacto</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    La aplicación SSR de Pokémon incluirá una sección de contacto pensada para brindar soporte y
    mantener la comunicación con los usuarios. Desde allí se podrán enviar consultas técnicas, sugerencias o reportes
    de errores mediante un formulario integrado o directamente a través de un correo de soporte oficial.
    También se ofrecerán enlaces rápidos a redes sociales y a un centro de ayuda con preguntas frecuentes,
    lo que facilitará resolver dudas comunes de forma inmediata. Con este sistema, la aplicación no solo asegura una atención accesible,
    sino que también fomenta la cercanía y confianza con su comunidad de entrenadores digitales.
  </p>
</section>
